@tailwind base;
@tailwind components;
@tailwind utilities;

/* ลบโค้ด @media (prefers-color-scheme: dark) ด้านล่างออกให้หมด */
/* เพื่อป้องกันไม่ให้หน้าจอกลายเป็นสีดำเมื่อเปิดโหมด Dark mode ในเครื่อง */
:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-start-rgb));
}
